<div class="container">
<h2 class="display-4">Your Profile</h2>
<label>Name: </label>{{user.name}}<br>
<label>Username: </label>{{user.username}}<br>
<label>Email: </label>{{user.email}}<br>
<a href="/inside/changePassword3"><button class="btn btn-primary">Change Password</button></a></div